@{
    ViewData["Title"] = "Home Page";
}


<div class="main-container">
    <h1 class="titulo-principal">Restaurante Sweet Flavor</h1>
    <p class="texto-bienvenida">Bienvenido, ¿qué deseas hacer?</p>

    <div class="botones-home">
        <a href="/Account/Login" class="btn-home iniciar">Iniciar Sesión</a>
        <a href="/Account/Register" class="btn-home registrar">Registrarse</a>
    </div>
</div>